/*h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}*/

.countdown-lelang, #clockdiv{
	font-family: sans-serif;
	color: #367fa9;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

.countdown-lelang, #clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

.countdown-lelang, #clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
